body {
    padding: 0;
    margin: 0;
 }
 .zoomIn{
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 65%;
    transition: 0.3s;
    background-image: linear-gradient(green,darkgreen);
    left: -100%;
    margin-top: -28px;
 }
 .zoomOut{
  
    left: 0%;
    
 }
 